.parallax {
  background: url("/images/me-cover-small.jpg");
  background-size: cover;
  background-attachment: fixed;

  @include medium {
    background: url("/images/me-cover-medium.jpg");
  }
  @include large {
    background: url("/images/me-cover-large.jpg");
    background-size: 100% 150%;
    background-position: 8% 8%;
  }

  .gradient-layer {
    box-sizing: border-box;
    color: $fgColor;
    text-align: center;
    background: linear-gradient(
                    rgba($secondaryColor, 0.8),
                    rgba(16, 105, 98, 0.8),
                    rgba(16, 105, 98, 0.8),
                    rgba(40, 59, 110, 0.8),
                    rgba(40, 59, 110, 0.8),
                    rgba(24, 24, 26, 0.8)
    );
  }
}

.content {
  flex-basis: 100%;
  flex-shrink: 2.5;
  height: 100vh;
  overflow-x: hidden;

  .wrap {
    width: 100%;
    min-height: 100%;
  }
}
