$bgColor: #2b3a42;
$secondaryColor: #d63535;
$fgColor: #f0f0df;
$textColor: #3e3e3e;

$headFont: "Raleway", sans-serif;
$textFont: "Hind", sans-serif;
$bodyFont: "Montserrat", sans-serif;

@mixin small {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin small-medium {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin max-small-medium {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 850px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}
