.container {
  display: flex;
  flex-direction: column;
  @include medium {
    flex-direction: row;
  }
}

.content-section {
  width: 100%;
  padding: 5rem 0;
  box-sizing: border-box;
  &.home {
    min-height: 100vh;
    padding: 0;
  }
  &.projects {
    min-height: 60vh;
    padding-top: 0;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inner-text {
    width: 70%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  @include small-medium {
    flex-direction: row;
  }
}
